<component name="ArtifactManager">
  <artifact type="war" name="springmvcswagger:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcswagger-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvcswagger:war exploded" />
    </root>
  </artifact>
</component>